.el-input__prefix-inner > :last-child {
  margin-right: 0 !important;
  margin-inline-end: 0.5rem !important;
}
.el-input__wrapper {
  border-radius: 0.5rem !important;
}

/** ---------------------------------------按钮样式 */
.sys-btn.el-button.is-disabled,
.sys-btn.el-button.is-disabled:hover {
  background: #f6f6f6;
  border-color: #e7e7e7;
}
.sys-btn.el-button--primary {
  --el-button-disabled-text-color: #808080;
  --el-button-outline-color: var(--mainColor-900);
  --el-button-bg-color: var(--mainColor-900);
  --el-button-border-color: var(--mainColor-900);
  --el-button-hover-bg-color: var(--mainColor-990);
  --el-button-hover-border-color: var(--mainColor-990);
  --el-button-active-color: var(--mainColor-990);
  --el-button-active-bg-color: var(--mainColor-990);
  --el-button-active-border-color: var(--mainColor-990);
  --el-button-disabled-bg-color: #f6f6f6;
  --el-button-disabled-border-color: #e7e7e7;
}
.sys-btn.el-button--primary.is-plain {
  --el-button-outline-color: var(--mainColor-900);
  --el-button-border-color: var(--mainColor-900);
  --el-button-hover-border-color: var(--mainColor-990);
}
/** ---------------------------------------按钮样式 */
/** ---------------------------------------input样式 */
/** inputhover时样式 */
.sys-input.el-input {
  --el-input-border: #e7e7e7;
  --el-input-hover-border-color: #b6b6b6;
  --el-input-focus-border-color: var(--mainColor-900);
  --el-input-text-color: #000;
}
/** input错误时样式 */
.input-error.el-input {
  --el-input-border-color: var(--subColor-normal);
  --el-input-hover-border-color: var(--subColor-normal);
  --el-input-focus-border-color: var(--subColor-normal);
  --el-input-clear-hover-color: var(--subColor-normal);
}
/** ---------------------------------------input样式 */

.el-loading-spinner .path {
  stroke: var(--mainColor-900) !important;
}
.el-select-dropdown__item.is-selected {
  color: var(--mainColor-900) !important;
}
.el-select-dropdown__item.is-hovering {
  background-color: #f0edfd !important;
}
.el-button:focus-visible {
  outline: none !important;
}
.el-checkbox input:focus-visible + .el-checkbox__inner {
  outline: none !important;
}

::-webkit-scrollbar {
  width: 0.375rem;
}

::-webkit-scrollbar-thumb {
  @apply bg-borderColor;
  border-radius: 0.25rem;
}

html,
body {
  overscroll-behavior: none;
}
