@tailwind base;
@tailwind components;
@tailwind utilities;

/* 你的自定义样式 */
body {
  font-size: 0.875rem;
  color: #000;
}

@layer base {
  :root {
    --mainColor-990: #3d2596;
    --mainColor-900: #6f4cf0;
    --subColor-normal: #ea6a6a;
    --subColor-deep: #CA4242;
  }
  .dark {
  }
}

@layer base {
}
